body {
    margin: 0;
    padding: 0;
    background-color: #F0FCFF;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    box-shadow: 1px 0px 1px rgba(117, 117, 117, 0.08);
    
    
}

.topbar {
    height: 70px;
    width: 83%;
    position: fixed;
    margin-left: 250px;
    top:0;
    background-color: white;
    box-shadow: 0px 1px 1px rgba(117, 117, 117, 0.08);
}

.mode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 530px ;

}

.switch {
    position: relative;
    display: inline-block;
    width: 39px;
    height: 22px;
    margin: 0px 8px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    border-radius: 34px;
    transition: .4s;

}

.slider:before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background: #fff;
    border-radius: 50%;
    transition: .3s;
}

input:checked+.slider {
    background: #b892ff;
}

input:checked+.slider:before {
    transform: translateX(16px);
}

.dark-mode {
    background: #050505;
}

.dark-mode .sidebar {
  background-color: #2A2A2A;
}

.dark-mode .topbar {
  background-color: #2A2A2A;
}

.dark-mode h1 {
    color: #f7f0e9;
}


